$brown : #521F2A;
$beige : #F9F5E9;
$red : #9E2E47;
$blue : #95C3C7;
$default-background : $beige url('https://2016.london.wordcamp.org/files/2015/11/bg-pattern.jpg') repeat;
$heading-font: "zebrawood-std-fill",serif;
$regular-font: "double-pica",serif;